* {
  background-color: rgb(61, 61, 61);
  color: antiquewhite;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

.title {
  margin-top: 5em;
}

.explanation-text {
  text-align: center;
  margin-top: 4em;
}

.start-button-home {
  margin-top: 4em;
  margin-left: 43%;
  border: none;
  border-radius: 15px;
  background-color: cadetblue;
  font-size: 1.2em;
  padding: 1%;
  text-align: center;
}

.goToStart {
  margin-top: 1.5em;
  margin-left: 2.5em;
  background-color: antiquewhite;
  color: cadetblue;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  padding: 7px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  justify-content: space-evenly;
  margin-top: 4em;
}

#startBeatButton {
  border: none;
  border-radius: 15px;
  background-color: cadetblue;
  font-size: 1.2em;
  padding: 1%;
  text-align: center;
}

#continueButton {
  border: none;
  border-radius: 15px;
  background-color: cadetblue;
  font-size: 1.2em;
  padding: 1%;
  text-align: center;
}
