* {
  background-color: rgb(61, 61, 61);
  color: antiquewhite;
  font-family: sans-serif;
}

main {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

.title {
  margin-top: 5em;
}

.explanation-text {
  text-align: center;
  margin-top: 4em;
  margin-left: 17em;
  margin-right: 17em;
}

.start-button-home {
  margin-top: 4em;
  margin-left: 33.5em;
  margin-right: 33.5em;
  border: none;
  border-radius: 15px;
  background-color: cadetblue;
  font-size: 1.1em;
  padding: 1%;
}

.goToStart {
  margin-top: 1.5em;
  margin-left: 2.5em;
  background-color: antiquewhite;
  color: cadetblue;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  padding: 7px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  justify-content: space-evenly;
  margin-top: 4em;
}

#startBeatButton {
  border: none;
  border-radius: 15px;
  background-color: cadetblue;
  font-size: 1.2em;
  padding: 1%;
  text-align: center;
}

#continueButton {
  border: none;
  border-radius: 15px;
  background-color: cadetblue;
  font-size: 1.2em;
  padding: 1%;
  text-align: center;
}

#recordButton {
  border: none;
  border-radius: 15px;
  background-color: cadetblue;
  font-size: 1.2em;
  padding: 1%;
  text-align: center;
  margin-left: 20.8em;
}

#stopButton {
  border: none;
  border-radius: 15px;
  background-color: cadetblue;
  font-size: 1.2em;
  padding: 1%;
  text-align: center;
}

#finishButton {
  border: none;
  border-radius: 15px;
  background-color: cadetblue;
  font-size: 1.2em;
  padding: 1%;
  text-align: center;
}

.cameraButtons {
  justify-content: center;
  align-content: center;
  justify-content: space-evenly;
  margin-left: 4em;
}

#countdown {
  text-align: center;
}
